/* 基本的重置样式  
* {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
}   */
@font-face {  
  font-family: 'Font1'; 
  src: url('src/assets/font1.ttf'); 
  font-weight: normal;
  font-style: normal;
} 
@font-face {  
  font-family: 'Font2'; 
  src: url('src/assets/font2.ttf'); 
  font-weight: normal;
  font-style: normal;
} 
@font-face {  
  font-family: 'Font3'; 
  src: url('src/assets/font3.ttf'); 
  font-weight: normal;
  font-style: normal;
} 

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #902d0faa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
旋转图标 */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: hwb(99 33% 11%);
}