@font-face {
    font-family: 'Font1';
    src: url('src/assets/font/font1.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font2';
    src: url('src/assets/font/font2.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font3';
    src: url('src/assets/font/font3.ttf');
    font-weight: normal;
    font-style: normal;
}

.incircle-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('src/assets/incircle-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
    /* 确保背景在其他元素之下 */
}

.incircle-header {
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 在元素之间均匀分布空间 */
    width: 100%;
    height: 50px;
}

.back-button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 10px; 
}

.circle-name {
    font-size: 36px;
    margin-left: 90px;
    font-family: "Font3", "Microsoft JhengHei", Arial, sans-serif;
    width: 20%;
}

.user-count {
    font-size: 24px;
    color: #666;
    font-family: "Font3", "Microsoft JhengHei", Arial, sans-serif;
    width: 15%;
}

.search-article {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Font3", "Microsoft JhengHei", Arial, sans-serif;
    margin-left: 10px;
    background-image: url('src/assets/search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 95%, 50%;
}

.post-button {
    margin-right: 30px; 
    margin-top: 10px;
    background-color: #ff913c;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Font3", "Microsoft JhengHei", Arial, sans-serif;
}

.post-button:hover {
    background-color: #ffc562;
    transform: scale(0.9);
}

.activity-button {
    margin-right: 30px; 
    margin-top: 10px;
    background-color: #57bcd2;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Font3", "Microsoft JhengHei", Arial, sans-serif;
}

.activity-button:hover {
    background-color: #45a09b;
    transform: scale(0.9);
}

.latest-posts-title {
    position: fixed;
    font-size: 24px;
    top:60px;
    left: 30px;
    width: 100px;
    font-family: "Font3", "Microsoft JhengHei", Arial, sans-serif;
}

.posts-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 左对齐 */
    width: 1200px;
    height: 460px;
    top:50px;
    left: 30px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.6); 
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px; /* 内边距 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Font3", "Microsoft JhengHei", Arial, sans-serif;
}

.posts-header {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding: 10px;
    padding-right: 35%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.post-item {
    display: flex;
    justify-content: space-between; /* 在元素之间均匀分布空间 */
    align-items: center; /* 垂直居中对齐 */
    width: 99%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.799);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.view-button {
    background-color: #f794a6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.view-button:hover {
    background-color: #d7aff4;
    transform: scale(1.05);
}

.pagination-article {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 40px;
}

.pagination-article button {
    background-color: #cda4ff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-article button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination-article button:hover {
    background-color: #ae62ff;
    transform: scale(0.9);
}

.pagination-article span {
    margin: 0 10px;
    font-size: 16px;
}

